/* ---------------- Utilities ----------------------*/
.flexUtility {
    display: flex;
}

.centeredText {
    text-align: center;
}

.outlinedText {
    text-shadow:
        -1px -1px 0 black,
        /* Top-left shadow */
        1px -1px 0 black,
        /* Top-right shadow */
        -1px 1px 0 black,
        /* Bottom-left shadow */
        1px 1px 0 black;
    /* Bottom-right shadow */
}

/* ------------------- Color Schemes ----------------- */
body {
    background-color: #eae0cc;
}

.color1 {
    background-color: #e9e3e6
}

.color2 {
    background-color: #ece2d0
}

.itemsColor {
    background-color: #d7b29d;
}

.schematicsColor {
    background-color: #e8d2ae;
}

/* --------------- Shared Classes ------------------ */
.shopTab {
    height: stretch;
    padding: 3px;
    border-style: solid;
    border-top-style: none;
}

/* ------------------------ Tooltip Classes ------------------------------- */
.tooltipContainer {
    position: relative;
    display: inline-block;
}

.tooltipText {
    visibility: hidden;
    background-color: #e8d2ae;
    color: black;
    text-align: center;
    border-style: solid;
    padding: 3px 3px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 15px;
    /* max-content causes overflow, but only one should be visible at a time */
    width: max-content;
}

.tooltipContainer:hover .tooltipText {
    visibility: visible;
}

/* ------------------------------------------------------------------ */