/* ---------------- Utilities ----------------------*/
.flexUtility{
    display: flex;
}
.centeredText{
    text-align: center;
}
.outlinedText{
    text-shadow:
    -1px -1px 0 black,  /* Top-left shadow */
     1px -1px 0 black,  /* Top-right shadow */
    -1px  1px 0 black,  /* Bottom-left shadow */
     1px  1px 0 black;  /* Bottom-right shadow */
}
/* ------------------- Color Schemes ----------------- */
body{
    background-color: #eae0cc;
}

.color1 {
    background-color: #e9e3e6
}

.color2 {
    background-color: #ece2d0
}

.itemsColor {
    background-color: #d7b29d;
}

.schematicsColor {
    background-color: #e8d2ae;
}